<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/styles/css/cims.css}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<appname th:fragment="appname">
    <div id="appname">
        <br>
        <p align="center">I n c i d e n t &nbsp;&nbsp; M a n a g e m e n t &nbsp;&nbsp; S y s t e m</p>
        <br>
    </div>
</appname>

</body>
</html>