<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Send Event</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/styles/css/cims.css}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<div th:insert="fragments/appname :: appname"></div>
<div th:insert="fragments/header :: header"></div>

<div class="container my-5">
    <h3> Send Event</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/event/add}" th:object="${event}" method="post">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="source" class="col-form-label">Source</label>
                            <input type="text" th:field="*{source}" class="form-control" id="source" placeholder="Source"/>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="severity" class="col-form-label">Severity</label>
                            <select th:field="*{severity}" class="form-control" id="severity">
                                <option value="Critical">Critical</option>
                                <option value="Major">Major</option>
                                <option value="Minor">Minor</option>
                                <option value="Warning">Warning</option>
                                <option value="Unknown">Unknown</option>
                            </select>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="description" class="col-form-label">Description</label>
                            <input type="text" th:field="*{description}" class="form-control" id="description"
                                   placeholder="description"/>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="base" class="col-form-label">Base</label>
                            <input type="text" th:field="*{base}" class="form-control" id="base" placeholder="Base"/>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="service" class="col-form-label">Service</label>
                            <input type="text" th:field="*{service}" class="form-control" id="service" placeholder="service"/>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="location" class="col-form-label">Location</label>
                            <input type="text" th:field="*{location}" class="form-control" id="location" placeholder="location"/>
                        </div>

                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value=" Submit ">
                        </div>

                        <input type="hidden" id="event_id">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>