<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Alerts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/styles/css/cims.css}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<div th:insert="fragments/appname :: appname"></div>
<div th:insert="fragments/header :: header"></div>

<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div th:switch="${alerts}" class="container my-5">
                <div class="col-md-10">
                    <h2 th:case="null">No record found !!</h2>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>Alert ID</th>
                                <th>Source</th>
                                <th>Severiy</th>
                                <th>Description</th>
                                <th>Total Events</th>
                                <th>Incident ID</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="alert : ${alerts}">
                                <td th:text="${alert.alert_id}"></td>
                                <td th:text="${alert.source}"></td>
                                <td th:text="${alert.severity}"></td>
                                <td th:text="${alert.description}"></td>
                                <td th:text="${alert.total_events}"></td>
                                <td th:text="${alert.incidentid}"></td>
                                <td th:text="${alert.status}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>